.box1 img{
  height:50px;
  width:50px;
}
.container-fluid{
  background-image:linear-gradient(180deg,rgba(40,82,122,.9),rgba(40,82,122,.9));
}
.box span{
  color:#fff;
  font-weight: bold;
}
.box1 span{
  font-size: 18px;
}
.box2 span{
  font-size: 16px;
}
#authorname{
  color: rgb(85, 5, 45);
  font-weight: bolder;
}
