<div class="container-fluid">
  <div class="d-flex flex-wrap justify-content-center">
      <div class="box box1">
          <h2>Welcome to Quiz App</h2>
          <p>This quiz will contains total 10 questions.Each question holds 1 point!</p>
          <h6>Rules</h6>
          <ol>
            <li>Correct question gives you 1 point.</li>
            <li>You will have 10 mins to answer all the questions.</li>
            <li>Refreshing the page will reset the quiz!</li>
          </ol>
          <!-- <h4>All the best!!&nbsp;<img src="../assets/img/smiley.png"></h4> -->
          <h4>All the best!!&nbsp;<img src="assets/img/smiley.png"></h4>
      </div>
      <div class="box box2">
        <!-- <img src="../assets/img/home-page1.jpg"> -->
        <img src="assets/img/home-page1.jpg">
      </div>
  </div>
  <div class="d-flex flex-wrap justify-content-center">
    <div class="box3">
      <h3>Start the test and discover where you stand!</h3>
    </div>
  </div>
  <div class="d-flex flex-wrap justify-content-around">
    <div class="box4 box">
      <h4>1. Get ready</h4>
      <p>Make sure you're in a comfortable space where you can focus on the test.</p>
    </div>
    <div class="box4 box">
      <h4>2. Take the test</h4>
      <p>You're about to complete 10 visual questions that get more complex as you go.</p>
    </div>
    <div class="box4 box">
      <h4>3. Get your Test Score</h4>
      <p>After completion of your test you can see your test score.</p>
    </div>
  </div>
  <!-- <div class="d-flex flex-wrap justify-content-center">
    <div class="box5 box">
      <button id="btn" class="btn">Start the test</button>
    </div>
  </div> -->
</div>
